
.navbar {
    position: absolute;
    right: 5.9%;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    margin: 10px 80px;
  }
  
  .logo {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    float: left;
    margin: 10px 142px;
    text-transform: uppercase;
  
    color: #000000;
  }

  .welcome-user {
      margin: 10px 190px 10px 20px;
  }